<p style="color: green"><%= notice %></p>

 <nav class="navbar">
   <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, data: {turbo_method: :delete}  %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
        <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
 </nav>



<div class="main_content">
  <div class="tweeet_index_container">
    <% @tweeets.each do |tweeet| %>
      <%= render tweeet %>
    <% end %>

  </div>
  <div class="content_sidebar">
            <span class="section_title">Announcments</span>
            <div class="announcments_box">
                <div class="announcment">
                    <span>Site Maintainance</span>
                    <p>Yonsequat mauris nunc congue nisi. Dignissim enim sit amet venenatis urna cursus eget. Ultricies
                        mi
                        quis hendrerit dolor.</p>
                </div>
                <div class="announcment">
                    <span>Community Share Day</span>
                    <p>Yonsequat mauris nunc congue nisi. Dignissim enim sit amet venenatis urna cursus eget. Ultricies
                        mi
                        quis hendrerit dolor.</p>
                </div>
                <div class="announcment">
                    <span>Update Privacy Policy</span>
                    <p>Yonsequat mauris nunc congue nisi. Dignissim enim sit amet venenatis urna cursus eget. Ultricies
                        mi
                        quis hendrerit dolor.</p>

                </div>

            </div>

            <span class="section_title">Trending</span>
            <div class="trending_box">

                <div class="trend">
                    <%= image_tag "cat.jpeg" %>
                    <div class="trend_description">
                        <span><%= @tweeets[-1].user.email %></span>
                        <p><%= @tweeets[-1].title %></p>
                    </div>
                </div>

                <div class="trend">
                    <%= image_tag "cat.jpeg" %>
                    <div class="trend_description">
                        <span><%= @tweeets[-2].user.email %></span>
                        <p><%= @tweeets[-2].title %></p>
                    </div>
                </div>

                <div class="trend">
                    <%= image_tag "cat.jpeg" %>
                    <div class="trend_description">
                        <span><%= @tweeets[-3].user.email %></span>
                        <p><%= @tweeets[-3].title %></p>
                    </div>
                </div>
            </div>
        </div>
</div>

<%= link_to "New tweeet", new_tweeet_path %>
